footer {
  background-color: #010632;
  padding: 0px 0px 61px;
}

.div-general-footer__text3 {
  width: 401px;
}
.div-general-footer__content-text {
  gap: 10px;
}
.div-general-footer__content-text > a {
  line-height: 1.3;
}
.div-general-footer__content-text-2, .div-general-footer__text3 {
  font-size: 20px;
  text-decoration: none;
}
.div-general-footer__content {
  display: flex;
}
.div-general-footer__content-button1-p {
  display: none;
}

@media (max-width: 480px) {
  .div-general-footer__content-text-2 {
    width: 120px;
  }
  .div-general-footer__text3 {
    width: 250px;
  }
  .div-general-footer__content {
    display: block;
  }
  .div-general-footer__content-button2 {
    display: flex;
    gap: 80px;
  }
  .div-general-footer__content-button1 {
    gap: 20px;
    padding: 30px 0px;
  }
  .div-general-footer__content-button1-p {
    display: block;
  }
  footer {
    padding: 0px;
  }
  .div-general-footer__title {
    width: 300px;
    margin-right: 95px;
  }
}
header {
  background-color: #010632;
}

.div-general-header__nav {
  gap: 47px;
}
.div-general-header__nav-link2 {
  font-weight: 700;
  font-size: 48px;
  color: yellow;
  text-decoration: none;
}
.div-general-header__nav-adaptiv-versions {
  display: flex;
  gap: 47px;
}

nav > a {
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.div-general-header__nav-adaptiv-versions > a {
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

span {
  font-weight: 700;
  font-size: 48px;
  color: var(--tekst);
}

@media (max-width: 1024px) {
  .div-general-header__nav-adaptiv-versions {
    flex-direction: column;
    gap: 0px;
  }
  .div-general-header__nav-link3 {
    display: none;
  }
  .div-general-header__nav-link3 {
    display: none;
  }
}
@media (max-width: 480px) {
  .div-general-header__nav-link {
    display: none;
  }
}
@media (min-width: 768px) {
  .text-info {
    margin-top: 200px;
  }
}
@media (max-width: 320px) {
  .div-general-header__nav-span {
    font-size: 30px;
    display: flex;
  }
  .div-general-header__nav-link2 {
    font-size: 30px;
    display: flex;
    padding-right: 120px;
  }
  .container-fluid {
    width: 400px;
  }
  header {
    background-size: 450px;
  }
}
h1 {
  font-weight: 900;
  font-size: 64px;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 24px;
  color: var(--tekst);
  color: white;
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  color: white;
}

h3 {
  font-weight: 700;
  font-size: 48px;
  color: #000;
}

h4 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #000;
}

input {
  width: 519px;
  height: 57px;
  border-radius: 15px;
  border: 0px;
  background-color: #E2E2E2;
}

a {
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
}

@media (max-width: 1024px) {
  p {
    font-size: 19px;
  }
  h2 {
    font-size: 40px;
  }
  .container {
    max-width: none;
  }
}
@media (max-width: 480px) {
  h1 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }
  h2 {
    font-weight: 700;
    font-size: 30px;
    color: white;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 0px;
  }
}
.section1-main {
  background-image: url("/finalminiproject/img/backgroundheader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 480px) {
  .div-general-section1-main {
    height: 600px;
  }
}
.section2-main {
  background-color: #010632;
}

.div-general-section2-main {
  gap: 85px;
  padding: 32px 0px 63px;
}
.div-general-section2-main__text {
  width: 443px;
}
.div-general-section2-main__div-img {
  gap: 35px;
  height: 364px;
  display: block;
}
.div-general-section2-main__img2 {
  padding: 0px 0px 0px 200px;
}

@media (min-width: 1024px) {
  .div-general-section2-main__img2 {
    padding: 150px 0px 0px;
  }
  .div-general-section2-main__div-img {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .div-general-section2-main {
    gap: 25px;
    padding: 32px 0px 0px;
  }
  .div-general-section2-main__text {
    width: 360px;
  }
  .div-general-section2-main__img1 {
    width: 250px;
  }
  .div-general-section2-main__img2 {
    width: 350px;
    padding: 10px 0px 0px 200px;
  }
}
@media (max-width: 480px) {
  .div-general-section2-main__img1 {
    width: 280px;
  }
  .div-general-section2-main__img2 {
    padding: 10px 0px 0px 180px;
  }
  .div-general-section2-main {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 320px) {
  .div-general-section2-main__text {
    font-size: 16px;
    width: 300px;
  }
  .div-general-section2-main__img1 {
    width: 200px;
  }
  .div-general-section2-main__img2 {
    width: 300px;
  }
  .div-general-section2-main {
    height: 560px;
  }
}
.div-general-section3-main {
  gap: 390px;
  padding: 46px 0px 100px;
}
.div-general-section3-main__div-text-text {
  width: 460px;
}
.div-general-section3-main__div-img {
  position: relative;
  gap: 35px;
}
.div-general-section3-main__div-img-2 {
  position: absolute;
  top: 150px;
  left: 390px;
}
.div-general-section3-main__div-text-title2 {
  display: none;
}

.section3-main {
  background-color: #060D49;
}

@media (min-width: 1028px) {
  .div-general-section3-main__div-img {
    display: flex;
  }
  .div-general-section3-main {
    display: flex;
  }
  .div-general-section3-main__p {
    display: none;
    width: 550px;
  }
}
@media (max-width: 1024px) {
  .div-general-section3-main__div-text-text {
    width: 360px;
  }
  .div-general-section3-main {
    display: flex;
    gap: 120px;
  }
  .div-general-section3-main__div-img-1 {
    width: none;
  }
  .div-general-section3-main__div-img-2 {
    width: none;
  }
  .div-general-section3-main__p {
    display: none;
  }
  .div-general-section3-main__div-img-1 {
    width: 250px;
  }
  .div-general-section3-main__div-img-2 {
    width: 200px;
    left: 150px;
    top: 185px;
  }
}
@media (max-width: 480px) {
  .div-general-section3-main__div-img-1 {
    width: 180px;
  }
  .div-general-section3-main__div-text-text {
    width: 350px;
  }
  .div-general-section3-main__div-img-2 {
    position: static;
    margin: 10px 0px 0px 160px;
    width: 150px;
    height: 120px;
  }
  .div-general-section3-main__div-text {
    padding: 0px 0px 50px;
    word-spacing: 1px;
  }
  .div-general-section3-main {
    padding: 46px 0px 0px;
    display: block;
  }
  .div-general-section3-main__div-text-title2 {
    display: block;
  }
  .div-general-section3-main__div-text-title {
    display: none;
  }
}
@media (max-width: 320px) {
  .div-general-section3-main__div-img-1 {
    width: 130px;
  }
  .div-general-section3-main__div-img-2 {
    width: 140px;
    height: 100px;
    margin: 10px 40px 0px 130px;
  }
  .div-general-section3-main__div-text-text {
    width: 300px;
  }
}
.section4 {
  background-color: #010632;
  padding: 0px 0px 65px;
}

.section4-img-div1 {
  gap: 37px;
}
.section4-img-div1__img {
  gap: 21px;
}
.section4-img-div1__img1 {
  height: 240px;
}

.section4-img-div2 {
  gap: 42px;
}
.section4-img-div2__img1 {
  height: 261px;
}
.section4-img-div2__img2 {
  height: 261px;
  width: 427px;
}

.div-general-section4-main {
  gap: 30px;
}
.div-general-section4-main__div-img {
  gap: 37px;
}
.div-general-section4-main__img-1 {
  height: 524px;
}
.div-general-section4-main__p {
  display: none;
}

@media (min-width: 1024px) {
  .div-general-section4-main__div-title {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .section4 {
    height: 677px;
  }
  .div-general-section4-main__img-1,
  .section4-img-div1__img-img1 {
    display: none;
  }
  .section4-img-div1,
  .section4-img-div2 {
    position: relative;
  }
  .section4-img-div1__img1 {
    display: block;
    height: 300px;
    width: 200px;
    order: 2;
    position: absolute;
    left: 10px;
  }
  .section4-img-div2__img1 {
    height: 180px;
    width: 300px;
    order: 2;
    position: absolute;
    right: 10px;
  }
  .section4-img-div2__img2 {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 190px;
  }
  .section4-img-div1__img-img2 {
    height: 180px;
    width: 300px;
    position: absolute;
    top: 310px;
  }
  .section4-img-div1__img {
    position: relative;
  }
  .div-general-section4-main__div-img {
    height: 490px;
    padding: 10px 0px 0px;
  }
}
@media (max-width: 480px) {
  .section4 {
    height: 617px;
  }
  .div-general-section4-main__div-title {
    display: none;
  }
  .div-general-section4-main__img-1,
  .section4-img-div1__img-img1 {
    display: none;
  }
  .section4-img-div1,
  .section4-img-div2 {
    position: relative;
  }
  .section4-img-div1__img1 {
    display: block;
    height: 200px;
    width: 130px;
    order: 2;
    position: absolute;
    left: 10px;
    margin-top: 20px;
  }
  .section4-img-div2__img1 {
    height: 160px;
    width: 140px;
    order: 2;
    position: absolute;
    right: 10px;
  }
  .section4-img-div2__img2 {
    height: 170px;
    width: 130px;
    position: absolute;
    right: 20px;
    top: 190px;
    margin-top: 30px;
  }
  .section4-img-div1__img-img2 {
    height: 140px;
    width: 150px;
    position: absolute;
    top: 310px;
  }
  .section4-img-div1__img {
    position: relative;
  }
  .div-general-section4-main__p {
    width: 440px;
    text-align: center;
    display: block;
    padding: 10px 0px 0px;
    border-top: 2px solid white;
  }
  .div-general-section4-main__div-img {
    height: 490px;
    padding: 10px 0px 0px;
  }
}
.div-general-section5-main {
  gap: 65px;
}
.div-general-section5-main__card {
  width: 365px;
  height: 487px;
  gap: 4px;
  background-color: white;
  padding: 15px 0px 0px;
}
.div-general-section5-main__card-text {
  width: 287px;
  text-align: center;
}
.div-general-section5-main__button, .div-general-section5-main__button1, .div-general-section5-main__button2, .div-general-section5-main__button3 {
  border-radius: 15px;
  background: #0057ff;
  padding: 13px 58px;
  border: 0px;
  margin: 14px 0px 0px;
}
.div-general-section5-main__content {
  gap: 35px;
}

.section5 {
  background-color: #060D49;
  padding: 40px 0px 196px;
}

.active {
  display: block;
}

.div-general-modal-windov-section5-main1,
.div-general-modal-windov-section5-main2,
.div-general-modal-windov-section5-main3 {
  height: 598px;
  background-color: white;
  border-radius: 21px;
  padding: 29px 0px 0px;
  gap: 55px;
  display: none;
}

.div-general-modal-windov-section5-main1 {
  position: fixed;
  z-index: 1;
}

.div-content-modal-windov {
  gap: 29px;
}

.div-general-modal-windov-end-section5-main {
  width: 1005px;
  height: 598px;
  background-color: white;
  border-radius: 21px;
}
.div-general-modal-windov-end-section5-main__button {
  display: flex;
  align-items: end;
  text-decoration: none;
  width: 22px;
  height: 22px;
}

.div-img-modal-windov {
  display: flex;
}

.div-general-section5-main__content-div-for-adaptiv {
  display: flex;
  gap: 35px;
}

@media (max-width: 1024px) {
  .div-general-section5-main__content {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .div-general-section5-main__content-div-for-adaptiv {
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .div-general-section5-main__content {
    flex-direction: column;
    gap: 35px;
  }
  .div-general-section5-main__title {
    display: none;
  }
  .div-content-modal-windov__input {
    width: 430px;
  }
  .div-content-modal-windov {
    gap: 5px;
  }
  .div-general-modal-windov-section5-main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div-img-modal-windov {
    display: none;
  }
  .div-content-modal-windov__img {
    width: 105px;
    height: 126px;
    border-radius: 10px;
  }
  .div-general-section5-main__content-div-for-adaptiv {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}
.modal-dialog {
  max-width: 1005px;
}

.modal-content {
  padding: 0px 0px 90px;
}

.modal-body {
  gap: 20px;
}

.modal-windov__button {
  border-radius: 15px;
  background: #0057ff;
  padding: 13px 58px;
  border: 0px;
  margin: 0px 0px 0px 15px;
}

.modal-window__img {
  width: 335px;
  height: 446px;
}

.modal-window__img2 {
  width: 335px;
  height: 375px;
}

.modal-window__div-gap {
  gap: 55px;
}

.modal-end-text {
  padding: 150px 0px 100px;
  color: black;
}

.modal-header {
  border: 0px;
}

.modal-window__img-adaptiv {
  display: none;
}

.div-content-modal-windov__input2,
.div-content-modal-windov__text {
  display: none;
}

.modal-footer {
  border: 0px;
  justify-content: normal;
}

.modal-end-footer-button-close {
  display: none;
}

@media (max-width: 1024px) {
  .modal-window__img {
    width: 335px;
    height: 406px;
  }
  .modal-body__input {
    width: 336px;
  }
  .modal-window__div-gap {
    gap: 35px;
  }
}
@media (max-width: 480px) {
  .div-content-modal-windov__input2 {
    width: 200px;
    display: block;
  }
  .div-content-modal-windov__text {
    display: block;
  }
  .modal-body__input {
    width: 306px;
  }
  .modal-window__img {
    display: none;
  }
  .modal-window__img-adaptiv {
    width: 105px;
    height: 126px;
    border-radius: 20px;
    display: block;
  }
  .modal-window_button-adaptiv-position {
    display: flex;
    flex-direction: column;
  }
  .modal-footer {
    display: flex;
    justify-content: end;
    width: 450px;
  }
  .modal-content {
    padding: 0px;
  }
  .modal-window-end {
    display: none;
  }
  .modal-end-text {
    font-size: 40px;
  }
  .modal-end-footer-button-close {
    display: block;
    border-radius: 15px;
    background: #0057ff;
    padding: 13px 58px;
    border: 0px;
  }
  .modal-end-text {
    padding: 200px 0px 150px;
    color: black;
  }
}
.section1-main {
  background-image: url("../img/backgroundheader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}