h1 {
    font-weight: 900;
    font-size: 64px;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 24px;
    color: var(--tekst);
    color: white;
    margin: 0px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    color: white;
}

h3 {
    font-weight: 700;
    font-size: 48px;
    color: #000;
}

h4 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000;
}

input {
    width: 519px;
    height: 57px;
    border-radius: 15px;
    border: 0px;
    background-color: #E2E2E2;
}

a {
    margin: 0px;
    padding: 0px;
    margin-right: 0px;
}

@media (max-width: 1024px) {
    p {
        font-size: 19px;
    }

    h2 {
        font-size: 40px;
    }

    .container {
        max-width: none;
    }
}

@media (max-width: 480px) {
    h1 {
        font-weight: 700;
        font-size: 35px;
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-size: 30px;
        color: white;
    }

    p {
        font-weight: 400;
        font-size: 20px;
        color: white;
        margin: 0px;
    }
}