.div-general-section5-main {
    background-color: #003c80;

    &__card-img {
        width: 450px;
    }

    &__card-img2 {
        width: 450px;
    }

    &__2card {
        gap: 40px;
    }

    &__content {
        gap: 40px;
    }
}